@model MvcMovie.Models.MovieAndReviews

@{
    ViewData["Title"] = "Details";
}

<h2>Details for <em>@Model.movie.Title</em></h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.movie.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.movie.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.movie.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.movie.ReleaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.movie.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.movie.Genre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.movie.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.movie.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.movie.Rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.movie.Rating)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.movie.ID" class="btn btn-default">Edit</a> |
    <a asp-action="Index" class="btn btn-default">Back to List</a>
</div>
<div class="table-bordered">
    @if (Model.reviews != null)
    {
        <h3>Reviews</h3>
        foreach (Review r in Model.reviews)
        {
            <div class="table-bordered">
                @r.Comment<br />
                <strong><em>- @r.Name</em></strong>
            </div>
        }
    }
</div>
<div>
    <a asp-action="Create" asp-controller="Reviews" asp-route-id="@Model.movie.ID" class="btn btn-default">Write a Review</a>
</div>